
{% extends 'baseModal.html' %}

{% block modal-size%}
modal-lg
{% endblock modal-size %}



<!--Modal ID-->
{% block modal-id %} id="messageModal"{% endblock modal-id %}


<!--Modal title-->
{% block modal-title %}
<i class="fas fa-envelope"></i>&nbsp; Message
{% endblock modal-title %}



<!--Form-->
{% block form %}
<form method ="POST" action="/send_message" class="was-validated" autocomplete="off" enctype="multipart/form-data" id="messageForm"> 
    {% csrf_token %}
    <div class="modal-body">
        <div class = "mb-1">
            <label for="sender" class="form-label">From:</label>
            <b><p id="sender"> {{user.username}} </p></b> 
        </div>
        <div class = "mb-1">
            <label for="receiver" class="form-label">To:</label>
            <input type = "text" class = "form-control" id = "receiver" name = "receiver" maxlength = "40" placeholder = "addressee username" required>
        
        </div>
        <div id="error-msg"></div>
        <hr>
        <div>
            <label for="subject" class="form-label">Subject:</label>
            <input type = "text" class = "form-control" id="subject" name = "subject" maxlength = "40" placeholder = "Subject" required> 
       </div>
        <hr>
        <div class="form-group mb-2">
            <label for="content" class="form-label">content:</label>
            <textarea class="form-control" name="content" id="content" rows="10" maxlength="1000" oninput="updateCharacterCount()" required></textarea>
            <!-- cahracter remaining counter-->
            <p id="char-count">characters left: 1000 </p>
            <script>
                function updateCharacterCount() {
                    var message = document.getElementById("content");
                    var charCount = document.getElementById("char-count");
                    var maxLength = message.getAttribute("maxlength");
                    var currentLength = message.value.length;
                    var remainingChars = maxLength - currentLength;
                    if(remainingChars>15) {
                        charCount.textContent = "characters left: "+remainingChars ;
                        charCount.style.color = "black";
                    }
                    else if(currentLength==maxLength){
                        charCount.textContent = "characters left: "+remainingChars ;
                        charCount.style.color = "red";
                        swal("Oops!", "You have exceeded the maximum number of characters allowed", "info");
                    }
                    else {
                        charCount.textContent = "characters left: "+remainingChars ;
                        charCount.style.color = "red";
                    }
                    
                }
            </script>
        <!---->
        </div>
        <hr>
        <div class="form-control mb-3">
            <input class="form control" type="file" name="file" id="file" oninput="fileValidation()">
            <script>
                function fileValidation() {
                    var fileInput = document.getElementById('file');
                    var filePath = fileInput.value;
                    var fileSize = fileInput.files[0].size;
                    if (fileSize > 2097152) {
                        swal("File size is too big!", "File size is more than 2MB", "error");
                        this.value = "";
                        return false;
                    };
                    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
                    if(!allowedExtensions.exec(filePath)){
                        swal("format error!", "Please upload file having extensions .jpeg/.jpg/.png only.", "error");
                        fileInput.value = '';
                        return false;
                    };
                } 
            </script>
        </div>
        <hr>
        <div class="d-grid gap-2 mt-3">
            <button class="btn text-light" type="submit" id="submit" style="background-color:#0074fe;" onclick="send_Message()" >Send message &nbsp;&nbsp;
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    </div>
    <input type="hidden" value="pending" name="status">
    <input type="hidden" value="{{user.username}}" name="sender">
       
      
</form>
{% endblock form %}

<!--Modal footer denied here-->
{% block close %}{% endblock close %}
