{% extends 'baseModal.html' %}


<!--Modal ID-->
{% block modal-id %} id="markNotificationModal{{ notification.id }}" {% endblock modal-id %}


<!--Modal title-->
{% block modal-title %}
<i class="fas fa-envelope-open"></i>&nbsp; Mark as read?
{% endblock modal-title %}

<!--Modal Body-->
{% block modal-body%}
<div class="text-center mt-2 mb-3" id="stack" style="color: #0074fe;">
    <span class="fa-stack fa-3x">
        <i class="fas fa-cloud fa-stack-2x"></i>
        <i class="fas fa-user-check fa-stack-1x fa-inverse"></i>
    </span>
</div>
<span id="mark-ask"> Would you like to mark this notification as read? </span>
{% endblock modal-body %}

{% block close %}
{% endblock close %}

<!--Modal footer-->
{% block modal-footer %}
<a href="mark_notification_as_read/{{ notification.id }}" class="btn text-light btn-sm btn-modal" style="background-color: #0074fe;">Yes</a>
<a href="{% url 'mainApp:inbox' %}" class="btn btn-outline-dark btn-sm "> No </a>
{% endblock modal-footer %}
