{% extends 'messages/baseModal.html' %}

{% block modal-size%}
modal-lg
{% endblock modal-size %}



<!--Modal ID-->
{% block modal-id %} id="readModal{{ usermessage.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" {% endblock modal-id %}


<!--Modal title-->
{% block modal-title %}
<i class="fas fa-user-alt"></i>&nbsp; <span style="font-size: 16px;">{{ usermessage.sender }}</span>
{% endblock modal-title %}


{% block form %}
<div class="container">
    <div class="card text-center mt-3">
        <div class="card-body">
            <form enctype="multipart/form-data">
                {% csrf_token %}
                <!--Input hidden-->
                <input type="hidden" value="{{usermessage.id}}">
                <div class="input-group mb-2" >
                    <span class="input-group-text justify-content-center side-lable" style="font-size: 16px;"><i class="fas fa-user-edit"></i></span>
                    <input type="text" id="input-bg" class="form-control" value="{{ usermessage.subject }}" readonly>
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="input-bg" rows="10" readonly>{{ usermessage.content }}</textarea>
                </div>

                <div class="input-group mb-2">
                    <span class="input-group-text justify-content-center side-lable"><i class="fas fa-calendar"></i></span>
                    <input type="text" id="input-bg" class="form-control" value="Received on: {{ usermessage.creation_date|date:'m/d/y' }} at {{ usermessage.creation_date|date:'(H:i)' }}" readonly>
                </div>

                <div class="input-group mb-3 mt-3">
                    <a href="/media/{{usermessage.file}}" target="_blank" style="text-decoration: none;" class="bg-dark text-light justify-content-center side-lable">
                        <i class="fas fa-paperclip" style ="padding: 10px"></i>
                    </a>
                    {% if usermessage.file == '' %}
                    <input type="text" class="form-control" id="input-bg" value="No attachment" readonly>
                    {% else %}
                    <input type="text" class="form-control" id="input-bg" value="{{ usermessage.file }}" readonly>
                    {% endif %}
                </div>

               
            </form>
        </div>
    </div>
</div>
{% endblock form %}

 <!--mark as read-->
{% block modal-footer%}
<br class="hide-br"><hr>
{% if usermessage.status == 'pending'%}
<button class="btn text-light btn-sm btn-action" title="mark read message" style="background-color:#0074fe;" data-bs-toggle="modal" data-bs-target="#markModal{{ usermessage.pk }}"> Close </button>
{% else %}
<button type="button" class="btn btn-secondary btn-sm btn-modal" data-bs-dismiss="modal"> Close </button>
{% endif %}
{% endblock modal-footer%}

{% block close %}{% endblock close %}
