{% extends 'base.html' %}
{% block content %}
<script>
	var policyRulesData = {};
</script>
<head>
  <title>{{ storename }} - Add new product</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a46df6f46f.js" crossorigin="anonymous"></script>
</head>

<body onload="handleLevelChange(document.getElementById('levelType'))">
	<h1 class="mb-3">{{ storename }} - Add a new Purchase Policy</h1>

	<div class="d-flex justify-content-start">
		<div class="container" id="firstContainer">
			<div class="card">
				<div class="card-body">
					<form method="post" action="{% url 'mainApp:addNewPurchasePolicy' storename=storename %}" id="addRuleForm" onsubmit="handleFormSubmit(event)">
						{% csrf_token %}
					<input type="hidden" name="policyRulesData" value="{{ policyRulesData|safe }}">
					<select class="form-select mb-3" aria-label="Default select example" name="purchase_policy">
						<option selected disabled>Purchase Policy Type</option>
						<option value="1" {% if purchase_policy == "PurchasePolicy" %} selected {% endif %}>PurchasePolicy</option>
						<option value="2" {% if purchase_policy == "idk2" %} selected {% endif %}>idk2</option>
						<option value="3" {% if purchase_policy == "idk3" %} selected {% endif %}>idk3</option>
						<option value="4" {% if purchase_policy == "idk4" %} selected {% endif %}>idk4</option>
						<option value="5" {% if purchase_policy == "idk5" %} selected {% endif %}>idk5</option>

					</select>					

					<select class="form-select mb-3" aria-label="Default select example" name="levelType" onchange="handleLevelChange(this)">
						<option selected disabled>Product/Category/User/Basket</option>
						<option value="1" {% if levelType == "Product" %} selected {% endif %}>Product</option>
						<option value="2" {% if levelType == "Category" %} selected {% endif %}>Category</option>
						<option value="3" {% if levelType == "User" %} selected {% endif %}>User</option>
						<option value="4" {% if levelType == "Basket" %} selected {% endif %}>Basket</option>
					</select>
					
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingInput" name="levelName" value="{{ levelName|default_if_none:'' }}">
						<label for="floatingInput">{{ levelType|default_if_none:''|title }}</label>
					</div>
					  
					
					<script>
                        function handleLevelChange(selectElement) {
                            const inputElement = document.getElementById("floatingInput");
                            const labelElement = document.querySelector("label[for='floatingInput']");
                            if (selectElement.value === "1") {
                                inputElement.disabled = false;
                                labelElement.textContent = "Product ID";
                            } else if (selectElement.value === "2") {
                                inputElement.disabled = false;
                                labelElement.textContent = "Category";
                            } else if (selectElement.value === "3") {
                                inputElement.disabled = false;
                                labelElement.textContent = "User";
                            } else if (selectElement.value === "4") {
                                inputElement.disabled = true;
                                labelElement.textContent = "Basket";
								inputElement.value = "";
                            }
                        }
                    </script>
					
					<button type="submit" class="btn btn-primary" id="submitButtonFirstContainer" name="submitPolicy">Submit Policy</button>

				</div>
			</div>
		</div>


		<div class="container" id="secondContainer">
			<div class="card">
				<div class="card-body">
					<select class="form-select mb-3" aria-label="Default select example" name="ruleType">
						<option selected disabled>Rule Type</option>
						<option value="alcohol_restriction">Alcohol Restriction</option>
					</select>
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingInput" name="ruleProductName">
						<label for="floatingInput">Product name</label>
					</div>
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingInput" name="ruleCategoryName">
						<label for="floatingInput">Category name</label>
					</div>
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingInput" name="ruleQuantity">
						<label for="floatingInput">Quantity</label>
					</div>
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingInput" name="ruleUserField">
						<label for="floatingInput">User field</label>
					</div>
					

					<label class="form-label">Operator: </label>
					<br>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="operatorRadioOptions" id="inlineRadio1" value="==" checked>
						<label class="form-check-label" for="inlineRadio1">Equal to</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="operatorRadioOptions" id="inlineRadio2" value=">=">
						<label class="form-check-label" for="inlineRadio2">Greater than</label>
					</div>
					<div class="form-check form-check-inline mb-3">
						<input class="form-check-input" type="radio" name="operatorRadioOptions" id="inlineRadio3" value="<=">
						<label class="form-check-label" for="inlineRadio3">Less than</label>
					</div>
					<br>
					<label class="form-label">Logic type: </label>
					<br>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="logicRadioOptions" id="inlineRadio1" value="Condition" checked>
						<label class="form-check-label" for="inlineRadio1">Condition</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="logicRadioOptions" id="inlineRadio2" value="OR">
						<label class="form-check-label" for="inlineRadio2">OR</label>
					</div>
					<div class="form-check form-check-inline mb-3">
						<input class="form-check-input" type="radio" name="logicRadioOptions" id="inlineRadio3" value="AND">
						<label class="form-check-label" for="inlineRadio3">AND</label>
					</div>
					<br>
					<div class="d-flex justify-content-start">
						<div><button type="submit" class="btn btn-primary me-2" id="submitButtonSecondContainer" name="addRule">Add Rule</button></div>
						<div><button type="submit" class="btn btn-primary me-2" name="clearAllRules">Clear Rules</button></div>
					</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			// Function to capture input values and create a dictionary
			function captureInputValues() {
				// Retrieve the input values
				var ruleType = document.querySelector("select[name='ruleType']").value;
				var ruleProductName = document.querySelector("input[name='ruleProductName']").value;
				var ruleCategoryName = document.querySelector("input[name='ruleCategoryName']").value;
				var ruleQuantity = document.querySelector("input[name='ruleQuantity']").value;
				var ruleUserField = document.querySelector("input[name='ruleUserField']").value;

				// Retrieve the selected radio button value
				var operatorOption = document.querySelector("input[name='operatorRadioOptions']:checked");
				var operatorRadioValue = operatorOption ? operatorOption.value : '';

				var logicOption = document.querySelector("input[name='logicRadioOptions']:checked");
				var logicRadioValue = logicOption ? logicOption.value : '';

				// Create a dictionary object to store the values
				var policyRulesData = {
					'rule_type': ruleType,
					'product_id': ruleProductName,
					'category': ruleCategoryName,
					'user_field': ruleUserField,
					'operator': operatorRadioValue,
					'quantity': ruleQuantity,
					'logic_type': logicRadioValue,
					'child': {}
				};
				return JSON.stringify(policyRulesData);
			}

			// Function to handle the form submission
			function handleFormSubmit(event) {
				// Prevent the form from submitting
				event.preventDefault();

				// Capture the input values and create the dictionary
				var policyRulesData = captureInputValues();

				// Set the dictionary value in a hidden input field
				var hiddenInput = document.createElement('input');
				hiddenInput.setAttribute('type', 'hidden');
				hiddenInput.setAttribute('name', 'policyRulesData');
				hiddenInput.setAttribute('value', policyRulesData);
				document.getElementById('addRuleForm').appendChild(hiddenInput);

				// Submit the form
				document.getElementById('addRuleForm').submit();
			}
		</script>
	</div>
</body>
{% endblock %}
