{% extends 'base.html' %}

{% block content %}
<style>
  h1 {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<title>Admin Area</title>

<body>
  <h1>Admin Area</h1>
  <br><br><br>
  <form method="post" action="{% url 'mainApp:adminPage' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="onlineUsers">View Online Users</button>
  </form>
  <br>
  <form method="post" action="{% url 'mainApp:adminPage' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="transactionHistory" data-toggle="modal">View Transaction History</button>
  </form>
  {{ allusers }}
  {% if allusers %}
    <br><br>
    <h2>Online Users</h2>
    <ul>
      {% for user in allusers.online %}
      <div class="container">
        <div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ forloop.counter }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel{{ forloop.counter }}">User Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>{{ user }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a data-toggle="modal" data-target="#myModal{{ forloop.counter }}"><li>{{ user }}</li></a>
      {% empty %}
      <li>No online users.</li>
      {% endfor %}
    </ul>

    <h2>Offline Users</h2>
    <ul>
      {% for user in allusers.offline %}
      <div class="container">
        <div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ forloop.counter }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel{{ forloop.counter }}">User Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>{{ user }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a data-toggle="modal" data-target="#myModal{{ forloop.counter }}"><li>{{ user }}</li></a>
      {% empty %}
      <li>No offline users.</li>
      {% endfor %}
    </ul>
  {% endif %}
</body>

{% endblock %}
