{% extends 'base.html'%}
{% block content %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
		<title>My SweetAlert Page</title>
		<!-- Include SweetAlert CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">

		<!-- Include jQuery and SweetAlert JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
		<title>Bootstrap Example</title>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

	   
		
	</head>
<body>
	<main>
		<h1>Inbox</h1>
		<!--Table of messages-->
		<div class = "col-lg-12 hide">
			<div style = "margin-top: 20 px;">
				<table class = "table table-sm">
					<thead class = "table secondary">
						<tr>
							<th style = "width: 20%;">Name</th>
							<th style = "width: 50%;">Subject</th>
							<th style = "width: 10%;">Recived on</th>
							<th style = "width: 10%;">Status</th>
							<th style = "width: 10%; text align: center;" colspan="2">Actions</th>
						</tr>
						{% for usermessage in usermessages %}
						<tr> 
							<td>{{usermassage.sender}}</td>
							<td>{{usermassage.subject}}</td>
							<td>{{usermassage.creation_date | date:'m/d/y (H:i'}}</td>

							<td>{{usermassage.status}}</td>

							<td>
								<button class="btn btn-secondary btn-sm btn-action" title="Delete message">
									<i class="fas fa-trash-alt"></i>
								</button>
							</td>
							<td>
								<button class="btn text-light btn-sm btn-action" title="Read message" style="background-color:#0074fe;">
									<i class="fas fa-envelope"></i>
								</button>
							</td>



						</tr>
						{% endfor %}
					</thead>
				</table>
			</div>
		</div>
		<div>
			<button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#composeMessage" style = "background-color: #0074fe; position: absolute; bottom: 50px; right: 50px;">
				<i class = "fas fa-envelope fa-2x"></i>
			</button>

			<!--Modal-->
			<div class="modal fade" id="composeMessage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">
								<i class="fas fa-envelope-open-text"></i>Message
							</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<form method = "POST" action="send_message" class="was-validated" autocomplete="off" encrypte="multipart/from-data"> 
							{% csrf_token %}
							<div class="modal-body">
								<div class = "mb-1">
									<p>From: {{user.username}} </p> 
								</div>
								<div class = "mb-1">
									<label for="addressee" class="form-label">To:</label>
									<input type = "text" class = "form-control" id = "addressee" name = "addressee" maxlength = "40" placeholder = "addressee username" required> 
									<hr>
									<label for="subject" class="form-label">Subject:</label>
									<input type = "text" class = "form-control" id="subject" name = "subject" maxlength = "40" placeholder = "Subject" required> 
							   </div>
								<hr>
								<div class="form-group mb-2">
									<label for="usermassage" class="form-label">content:</label>
									<textarea class="form-control" name="message" id="usermassage" rows="10" maxlength="1000" oninput="updateCharacterCount()" required></textarea>
									<!-- cahracter remaining counter-->
									<p id="char-count">characters left: 1000 </p>
									<script>
										function updateCharacterCount() {
											var message = document.getElementById("usermassage");
											var charCount = document.getElementById("char-count");
											var maxLength = message.getAttribute("maxlength");
											var currentLength = message.value.length;
											var remainingChars = maxLength - currentLength;
											if(remainingChars>15) {
												charCount.textContent = "characters left: "+remainingChars ;
												charCount.style.color = "black";
											}
											else if(currentLength==maxLength){
												charCount.textContent = "characters left: "+remainingChars ;
												charCount.style.color = "red";
												swal("Oops!", "You have exceeded the maximum number of characters allowed", "info");
											}
											else {
												charCount.textContent = "characters left: "+remainingChars ;
												charCount.style.color = "red";
											}
											
										}
								</script>

								<!---->
								</div>
								<hr>
								<div class="form-control mb-3">
									<input class="form control" type="file" name="file" id="file" oninput="fileValidation()">
									<script>
										function fileValidation() {
											var fileInput = document.getElementById('file');
											var filePath = fileInput.value;
											var fileSize = fileInput.files[0].size;
											if (fileSize > 2097152) {
												swal("File size is too big!", "File size is more than 2MB", "error");
												this.value = "";
												return false;
											};
											var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
											if(!allowedExtensions.exec(filePath)){
												swal("format error!", "Please upload file having extensions .jpeg/.jpg/.png only.", "error");
												fileInput.value = '';
												return false;
											};
										} 
									</script>
								</div>
								<hr>
								<div class="d-grid gap-2 mt-3">
									<button class="btn text-light" type="submit" style="background-color:#0074fe">Send message &nbsp;&nbsp;<i class="fas fa-paper-plane"></i></button>
								</div>
							</div>
							<input type="hidden" value="Pending" name="status">
						</form>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>
	

</body>
</html>



{% endblock%}